.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  color: var(--textSoft);
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 14px;
}

.text span {
  color: var(--textBlue);
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

.author {
  color: #ff0000;
  font-weight: bold;
  font-style: italic;
}
