.container {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: var(--bg);
}

.input {
  outline: none;
  background: transparent;
  border: none;
  color: var(--text);
}
